body {
    padding: 0;
    margin: 0;
    
    font-size: 16px
}

h1, h2, h3, h4, h5, h6, p, li {
    padding: 0;
    margin: 0;
    cursor:default;
}

.header {
    background-color: #221f20;
}

.container {
    max-width: 1140px;
    margin: auto;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: transparent;
}

.navbar img {
    margin-left: 15px;
    margin-right: 30px;
}

.navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: grey;
    text-decoration: none;
    margin: 0 30px;
    transition: 0.3s;
}

.nav-link:hover {
    color:white;
}

.search {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search h1 {
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.search button {
    font-size: 20px;
    height: 50px;
    width: 150px;
    background-color: #d82727;
    color: white;
    outline: none;
    border: 0;
    cursor: pointer;
    padding: 0;
}

.search button:hover {
    background-color: #b82121;
}

.search form {
    margin-bottom: 60px;
}

.search-bar {
    width: 950px;
    padding: 0 0 0 15px;
    /* padding-left: 15px; */
    height: 50px;
    font-size: 20px;
    border: 0; 
}

.all-jobs {
    background-color: #e9e9e9;
    padding-top: 30px;
}

.job-list {
    background-color: white;
}

.all-jobs h1 {
    background-color: white;
    padding: 30px 30px;
}

.job {
    border-top: 1px solid grey;
    padding: 30px 30px;
    margin: 0;
    display: grid;
    grid-template-columns: 100px auto auto;
    /* justify-content: space-between; */
    /* cursor: pointer; */
}

.job:hover {
    box-shadow: 0px 1px 5px #888888;
}

.job-left {
    font-size: 3em;
    width: 65px;
    height: 65px;
    border: 1px solid grey;
    display: grid;
    place-items: center;

}

/* .job-mid {
    padding-left:30px;
} */

.job-right {
    justify-self: flex-end;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.salary {
    color: green;
}

.tags {
    border: 1px solid grey;
    padding: 5px;
    font-size: 0.8em;
    margin: 0 5px;
}

.hot {
    background-color: orange;
    color: white;
    padding: 5px 10px;
}

.city {
    color: grey;
}

.time {
    color: #468fd9;
}